<html><head>
  <meta charset="UTF-8">
  <title>Validation de réservation</title>


</head>

<body>
<!--TEMPLATE ENTIER-->
<table style="background-color:#f1f0f8;padding:20px;font-family:Arial;" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr><td>
  <!--Header + Contenu-->
  <table style="border-top:1px solid #d7d9e4;border-right:1px solid #d7d9e4;border-left:1px solid #d7d9e4;font-family:Arial;" align="center" width="680" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td>
        <!--HEADER-->
        <table style="border-bottom:1px solid #d7d9e4;font-family:arial;" height="60" cellspacing="0" cellpadding="0" border="0" bgcolor="white">
  <tbody><tr>
    <td width="300">
      <a href="http://leboncampingcar.fr"><img style="display:block;" alt="Le Bon Camping Car" src="http://leboncampingcar.fr/images/lbcclogo02.png" width="300" height="60" border="0"></a>
    </td>
    <td style="font-size:24px;font-weight:bold;color:#f56b2a;text-align:right;padding-right:10px;font-family:arial;" width="440">Demande de Validation de réservation</td>
  </tr>
</tbody></table>
         
        <!-- Contenu -->
        <table style="font-family:Verdana, sans-serif;color:#909090;font-size:14px;border-collapse:collapse;mso-line-height-rule:exactly;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="white">
          <tbody><tr>
            <td style="font-size:12px;color:#323232;padding-left:10px; padding-right:20px;" valign="top">
              <p style="text-align:left;font-weight:bold;">
                <br>Réservation N° {{reservation.book_id}}
              </p>
              <p style="text-align:right;">
                Quimper, le {{datemailcreated}}
              </p>
              Bonjour,<br><br>
              
                Nous avons le plaisir de vous informer que nos services ont enregistré une demande de réservation concernant votre camping-car.<br><br>
                
                D'un montant de {{#if reservation.brutprize}}{{#if reservation.brutprize.prize}}{{reservation.brutprize.prize}} €{{else}}{{reservation.brutprize}} €{{/if}}{{else}}{{/if}} pour un séjour entre le {{reservation.start_time}} et le {{reservation.end_time}}.
              <!-- Mon compte-->
              <table width="100%" height="80" cellspacing="0" cellpadding="0" border="0"><tbody><tr>
                <td style="font-size:12px;color:#323232;" width="45%">Merci de valider cette réservation sur le planning des disponibilités de votre camping-car en cliquant <a href="http://leboncampingcar.fr/mylistings">ici:</a></td>
                <td width="55%">
 

                  <div style="height:50px;width:50px;user-select:none;border-radius:50%;display:inline-block;background-color:#bdbdbd;text-align:center;line-height:50px;font-size:29px;color:#ffffff;top:16px;left:16px;">
   <a href="http://leboncampingcar.fr/mylistings" target="_blank">
                <svg fill="#FFFFFF" height="100%" viewBox="0 0 70 60" width="70%">

             <path d="M 16.41,13.36
           C 14.45,15.17 12.03,14.22 11.29,11.77
             10.37,8.69 10.77,4.57 12.59,2.04
             20.25,-0.59 18.34,11.57 16.41,13.36 Z
           M 57.69,13.26
           C 53.19,16.19 49.85,7.41 53.73,2.01
             61.15,-0.55 61.17,10.98 57.69,13.26 Z
           M 8.00,8.00
           C 8.37,18.66 16.19,18.59 19.15,14.72
             20.64,12.77 20.78,10.34 21.00,8.00
             21.00,8.00 50.00,8.00 50.00,8.00
             50.03,10.06 49.86,12.83 51.02,14.61
             53.41,18.27 61.59,19.66 62.00,8.00
             62.00,8.00 70.00,8.00 70.00,8.00
             70.00,8.00 70.00,69.00 70.00,69.00
             70.00,69.00 0.00,69.00 0.00,69.00
             0.00,69.00 0.00,8.00 0.00,8.00
             0.00,8.00 8.00,8.00 8.00,8.00 Z
           M 7.00,37.00
           C 7.00,37.00 7.00,62.00 7.00,62.00
             7.00,62.00 63.00,62.00 63.00,62.00
             63.00,62.00 63.00,24.00 63.00,24.00
             63.00,24.00 30.00,25.00 30.00,25.00
             30.00,25.00 8.00,24.00 8.00,24.00
             8.00,24.00 7.00,37.00 7.00,37.00 Z
           M 52.00,31.00
           C 52.00,31.00 44.28,40.00 44.28,40.00
             44.28,40.00 33.00,57.00 33.00,57.00
             29.90,54.78 22.47,48.49 21.17,45.06
             19.04,39.47 26.19,42.82 28.00,43.80
             28.00,43.80 32.00,46.00 32.00,46.00
             35.04,40.02 45.07,30.48 52.00,31.00 Z"></path>
                <path d="M0 0h24v24H0z" fill="none">
                  
                </path>
                </svg>
                             </a>
              </div>
     
                </td>
              </tr></tbody></table>
              

              <br>
            </td>
          </tr>
          <tr>
            <td style="font-size:12px;color:#323232;padding-left:10px; padding-right:20px;font-family:Arial;">
              A bientôt,<br>
              Votre Service Client
            </td>
          </tr>
        </tbody></table>
      <!-- FIN Contenu -->
      </td>
    </tr>
  </tbody></table>        
                  </td>
                </tr>
              </tbody></table>           
</td></tr></tbody></table>
</body></html>
