<html><head>
  <meta charset="UTF-8">
  <title>Validation de réservation</title>


</head>

<body>
<!--TEMPLATE ENTIER-->
<table style="background-color:#f1f0f8;padding:20px;font-family:Arial;" align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr><td>
  <!--Header + Contenu-->
  <table style="border-top:1px solid #d7d9e4;border-right:1px solid #d7d9e4;border-left:1px solid #d7d9e4;font-family:Arial;" align="center" width="680" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td>
        <!--HEADER-->
        <table style="border-bottom:1px solid #d7d9e4;font-family:arial;" height="60" cellspacing="0" cellpadding="0" border="0" bgcolor="white">
  <tbody><tr>
    <td width="300">
      <a href="http://www.leboncampingcar.fr" target="_blank"><img style="display:block;" alt="Cdiscount" src="http://localhost:4444/images/lbcclogo02.png" width="300" height="60" border="0"></a>
    </td>
    <td style="font-size:24px;font-weight:bold;color:#f56b2a;text-align:right;padding-right:10px;font-family:arial;" width="440">Validation de réservation</td>
  </tr>
</tbody></table>
         
        <!-- Contenu -->
        <table style="font-family:Verdana, sans-serif;color:#909090;font-size:14px;border-collapse:collapse;mso-line-height-rule:exactly;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="white">
          <tbody><tr>
            <td style="font-size:12px;color:#323232;padding-left:10px; padding-right:20px;" valign="top">
              <p style="text-align:left;font-weight:bold;">
                <br>Réservation N° {{bookingid}}
              </p>
              <p style="text-align:right;">
                Quimper, le {{datemailcreated}}
              </p>
              Bonjour,<br><br>
              
                Nous avons le plaisir de vous informer que votre réservation est validée.<br><br>
              
              <!-- Mon compte-->
              <table width="100%" height="80" cellspacing="0" cellpadding="0" border="0"><tbody><tr>
                <td style="font-size:12px;color:#323232;" width="45%">Retrouvez votre réservation en cliquant ici:</td>
                <td width="55%">

                  <a href="http://localhost:4444/book/{{bookingid}}" target="_blank">

                  <div style="height:50px;width:50px;user-select:none;border-radius:50%;display:inline-block;background-color:#bdbdbd;text-align:center;line-height:50px;font-size:29px;color:#ffffff;top:16px;left:16px;">

                <svg fill="#FFFFFF" height="100%" viewBox="0 0 70 60" width="70%">

             <path d="M 16.41,13.36
           C 14.45,15.17 12.03,14.22 11.29,11.77
             10.37,8.69 10.77,4.57 12.59,2.04
             20.25,-0.59 18.34,11.57 16.41,13.36 Z
           M 57.69,13.26
           C 53.19,16.19 49.85,7.41 53.73,2.01
             61.15,-0.55 61.17,10.98 57.69,13.26 Z
           M 8.00,8.00
           C 8.37,18.66 16.19,18.59 19.15,14.72
             20.64,12.77 20.78,10.34 21.00,8.00
             21.00,8.00 50.00,8.00 50.00,8.00
             50.03,10.06 49.86,12.83 51.02,14.61
             53.41,18.27 61.59,19.66 62.00,8.00
             62.00,8.00 70.00,8.00 70.00,8.00
             70.00,8.00 70.00,69.00 70.00,69.00
             70.00,69.00 0.00,69.00 0.00,69.00
             0.00,69.00 0.00,8.00 0.00,8.00
             0.00,8.00 8.00,8.00 8.00,8.00 Z
           M 7.00,37.00
           C 7.00,37.00 7.00,62.00 7.00,62.00
             7.00,62.00 63.00,62.00 63.00,62.00
             63.00,62.00 63.00,24.00 63.00,24.00
             63.00,24.00 30.00,25.00 30.00,25.00
             30.00,25.00 8.00,24.00 8.00,24.00
             8.00,24.00 7.00,37.00 7.00,37.00 Z
           M 52.00,31.00
           C 52.00,31.00 44.28,40.00 44.28,40.00
             44.28,40.00 33.00,57.00 33.00,57.00
             29.90,54.78 22.47,48.49 21.17,45.06
             19.04,39.47 26.19,42.82 28.00,43.80
             28.00,43.80 32.00,46.00 32.00,46.00
             35.04,40.02 45.07,30.48 52.00,31.00 Z"></path>
                <path d="M0 0h24v24H0z" fill="none">
                  
                </path>
                </svg>
              </div>
                  </a>
                </td>
              </tr></tbody></table>
              Pour toute autre question, veuillez contater le propriétaire du camping-car au: {{campingcar.tel}} .  <br><br>
              
       
              <!-- Fin Mon compte-->
              <br>
              
                
                   <div style="font-size:13px;color:#323232;font-weight:normal;">Référence à rappeler lors de tout contact avec le service client : <span style="font-weight:bold;">Facture n°{{factureid}}</span></div><br>
                   
                
              
              <!-- LISTE DES PRODUITS -->
              <table style="font-size:12px;text-align:center;font-family:Arial;" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr><td style="height:1px;background-color:#f1f0f8;" colspan="4"> </td></tr>
                <tr>
                  
                   <td colspan="4" style="text-align:left;padding:5px;font-family:Arial;font-weight:bold;">DETAILS DE VOTRE RESERVATION : </td>
                   
                </tr>
                <tr><td style="height:1px;background-color:#d7d9e4;" colspan="4"> </td></tr>
                <tr style="background-color:#f1f0f8;font-weight:bold;font-family:Arial;">
                  <td style="padding:5px;" width="250">CAMPING-CAR</td>
                   <td style="padding:5px;" width="200">OPTIONS</td>
                  <td style="padding:5px;" width="150">DATE DU SEJOUR</td>
                <td style="padding:5px;" width="45">PRIX</td>
                </tr>
                
                      <tr>
                        <td style="padding:5px;text-align:left;" width="250">
                          <div><p>Nom: {{campingcar.name}}</p>
                          <p>Marque: {{campingcar.make}}</p>
                          <p>Modèle: {{campingcar.model}}</p>
{{#if tabhand}}
{{#each tabhand}}
<p>Tabnand: {{this}}</p>
{{/each}}
{{/if}}
                          </div>
                          
                               
                           
                        </td>
                        <td style="padding:5px;" width="45">

{{#if options}}
OPTIONS: 
{{#each options}}
<p>Option nom:  {{this.name}}</p>
{{/each}}
{{/if}}
                        </td>
                        
                          <td style="padding:5px;" rowspan="1" width="200">
                            Entre le {{reservation.start_time}} et le {{reservation.end_time}}
                          </td>

                          <td style="padding:5px;" rowspan="1" width="150">
                            
                               Prix : {{reservation.netprize}} €
                             
                          </td>
                        
                      </tr>
                  
              </tbody></table>
              <br>
              
              
              <div style="font-family:Arial;">
                <span style="font-weight:bold;">Mode de paiement :</span> comptant par carte bancaire<br>
                <span style="font-weight:bold;">Montant de la réservation : </span>{{reservation.netprize}} €<br>
              </div>
              <!-- Mensualités -->
              
              <br><br>
            </td>
          </tr>
          <tr>
            <td style="font-size:12px;color:#323232;padding-left:10px; padding-right:20px;font-family:Arial;">
              A bientôt,<br>
              Votre Service Client
            </td>
          </tr>
          <tr>
            <td style="text-align:center;font-style:italic;font-size:10px;font-family:Arial;">
              Ce message est consultable depuis votre compte.<br><br>
            </td>
          </tr>
        </tbody></table>
      <!-- FIN Contenu -->
      </td>
    </tr>
  </tbody></table>        
                  </td>
                </tr>
              </tbody></table>           
</td></tr></tbody></table>
</body></html>
